


/* Root Styles */


/* General Font Styles */

body {
    font-size: 1.6rem;
    font-family: "Bahnschrift", Verdana, "Geneva", Tahoma, sans-serif;
    background-color: whitesmoke;
}

h1, h2, h3 {
  margin: 1.6rem;
  /* font-weight: 500; */
  line-height: 1.1rem;
}

h1 {
  font-size: 4rem;
  /* display: none; */
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}


/* Top Banner */
header {
    background-color: rgb(80, 80, 80);
    color: whitesmoke;
    border-bottom: .4rem solid gold;
    margin-bottom: 9.6rem;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    max-width: 96rem;
    margin: 0 auto;
}

nav {
    display: block;
}

menu {
    display: flex;
    justify-content: space-between;
    width: 32rem;
    /* Once I learn JS, cleaner solution:
    position: sticky;
    */
}

/* bottom border added to list items rather than links (a) in order to set a consistent width */
menu li {
    border-bottom: .2rem solid gold;
    width: 7rem;
    text-align: center;
    font-size: 2rem;
}

/* General Sections */

main {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 96rem;
}

section {
    width: 100%;
    padding: 0 2rem;
    display: block;
    margin: 0 auto 9.6rem;
}

.section-heading-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: .5rem solid grey;
    margin-bottom: 2.4rem;
}

.section-content-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

/* About Me Section */


.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#p-start {
    text-align: start;
}

#p-center {
    font-size: 2.4rem;
    text-align: center;
}

#p-end {
    text-align: end;
}

div .headshot {
    margin: 1rem 0;
}

#little-me {
    width: 100%;
    max-height: 32rem;
    object-fit: cover;
    margin: 0 auto;
    border: .3rem solid grey;
}


/* My Work Section*/

    /* Image containers */
.img-container {
    position: relative;
    width: 100%;
    border: .3rem solid gold;
}
 
.featured.img-container {
    height: 32rem;
}

.project.img-container {
    height: 16rem;
    margin-top: 2.4rem;
}

    /* Image positioning */
.project-img, .featured-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.featured-img {
    object-position: top left;
} 

.project-img {
    object-position: center;
}

    /* Image captioning */
        /* In future: Revisit captions, possibly animate on hover */
figcaption {
    position: absolute;
    bottom: 0; /* needd to vertically center this beter*/
    left: 0; /* Align the caption to the left */
    background-color: rgb(80, 80, 80, 0.9) ; /* Semi-transparent background for readability */
    color: #fff; /* Text color */
    padding: 10px; /* Add some padding to the caption */
    width: 100%; /* need to tweak width and add a queery*/
    text-align: start;
    font-size: 1.6rem;
    font-weight: bold;
}

figcaption span {
    display: block;
    padding:  .6rem 0 0 .6rem;
    font-size: 1.4rem;
    font-weight: lighter;
}
    
/* Contact Me Section */
#contact-content p {
    margin-bottom: 2.4rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form li {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 1rem;
    margin-bottom: 1.6rem;
}

button {
    height: 4.3rem;
    margin-bottom: 3.2rem;
}

#socials-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.links-container {
    width: 100%;
}

#social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#social-links li {
    border-bottom: .2rem solid gold;
    width: 7rem;
    text-align: center;
    font-size: 1.6rem;
}

footer p {
    text-align: end;
    padding: 0 1rem 1rem 0;
}


/* Queries */

    /* General Layout */
@media screen and (min-width: 768px) { 
    .header-content {
        flex-direction: row;
    }
    .section-heading-container {
        flex-direction: row;
        border-right: .5rem solid grey;
        border-bottom: none;
        margin-bottom: 0rem;
        position: relative;
    }
    section {
        display: grid;
        grid-template-columns: 10rem 1fr;
        margin: 0 auto 9.6rem auto;
    }
    h2 {
        transform-origin: right top;
        transform: rotate(270deg);
        position: absolute;
        top: 1.2rem; /* I don't actually know what i'm doing here or with transfrom origin, i've just been Fa/Fo-ing */
        right: 3.2rem; /* Now that i have it somewhat positioned, i'm having text overlap */
    }
    .section-content-container {
    padding-left: 3.2rem;
    width: 100%;
    }

    /* My Work Layout */
        /* In the near future, this can be cleaned up with aspec-ratio unit */
        /*  Rather than "space between" and 48% container width, set a consistent 1rem space between*/
    #work-content {
        flex-flow: row wrap ;
        justify-content: space-between;
    }

    .img-container {
        border: .3rem solid gold;
    }
        
    .featured-img.img-container {
        width: 100%;
    }

    .project.img-container {
        width: 48%;
        height: 32rem;
    }
    
    .project-img, .featured-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 

    .featured.img-container figcaption {
        width: 23.8%; /* Width set as slight less than half project image to appear same size. 
                            TODO: need to calculate width as an exact proportion - currently off by <1px  */
    }
    .project.img-container figcaption {
        width: 50%;
    }
}

